spring:
  application:
    name: PrePair API

  profiles:
    active: local

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  jackson:
    property-naming-strategy: SNAKE_CASE