server:
  port: 8017

spring:
  application:
    name: PrePair API

  profiles:
    active: dev

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  jackson:
    property-naming-strategy: SNAKE_CASE

  mail:
    host: smtp.gmail.com
    port: 587
    username: wwmin828@gmail.com
    password: gxtbawxlbfdqkxpl
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

