spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/prepair_db
    username: prepair_user
    password: prepair_pass

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
